.comment {
	padding: 20px 0;
	border-bottom: 1px solid #F4F4F4;
	position: relative;
	grid-column: span 15;
	@media (min-width: $lg) {
		grid-column: span 12;
		&:before {
			content: "";
			position: absolute;
			right: 100%;
			bottom: -1px;
			height: 1px;
			background: #f4f4f4;
			width: $column-gap-mobile;
			@media (min-width: $lg) {
				width: $column-gap-small;
			}
			@media (min-width: $xl) {
				width: $column-gap-base;
			}
			@media (min-width: $site-width) {
				width: $column-gap-large;
			}
		}
	}
	&__info {
		align-items: center;
		margin-bottom: 0;
		grid-column: span 15;
		display: flex;
		@media (min-width: $md) {
			display: grid;
			grid-column: span 12;
		}
		&-main {
			grid-column: span 12;
			@media (max-width: $md - 1px) {
				display: flex;
				align-items: center;
			}
		}
		&-details-top {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			column-gap: 10px;
		}
		&-details {
			display: flex;
			flex-direction: column;
			gap: 3px;
			flex-grow: 1;
			grid-column: span 11;
		}
		&-avatar {
			position: relative;
			grid-column: span 1;
			height: 40px;
			@media (min-width: $md) {
				height: 45px;
				grid-column: span 1;
			}
			@media (min-width: 1400px) {
				height: 64px;
			}
			img, picture {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&-inner {	
				border-radius: 100%;
				overflow: hidden;
				width: 40px;
				height: 40px;
				@media (min-width: $md) {
					position: absolute;
					left: 0;
					top: 0;
					height: 45px;
					width: 45px;
				}
				@media (min-width: 1400px) {
					width: 64px;
					height: 64px;
				}
			}
		}
		&-author {
			font-weight: 700;
			font-size: 17px;
			line-height: 22px;
			letter-spacing: -0.408px;
			@media (min-width: $lg) {
				letter-spacing: 0.25px;
				font-size: 16px;
				font-weight: 600;
			}
			a {
				color: var(--color-black);
				&:hover {
					text-decoration: none;
				}
			}
		}
		&-date {
			
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.078px;
			
			color: var(--color-gray);

			padding-top: 1px;
			@media (min-width: $lg) {
				letter-spacing: 0;
				font-size: 12px;
				line-height: 20px;
			}
		}
		&-username {
			font-size: 12px;
			line-height: 16px;
			color: var(--color-gray-dark);
			a {
				color: var(--color-gray-dark);
				&:hover {
					text-decoration: none;
				}
			}
		}
		&-menu {
			width: 24px;
			height: 24px;
			background: url(../img/dots.svg) no-repeat center;
			cursor: pointer;
			flex-shrink: 0;
			margin-right: 20px;
		}
	}

	&__text {
		grid-column: 1 / span 15;
		padding-top: 12px;
		padding-left: 40px + $column-gap-mobile;
		@media (min-width: $md) {
			padding-left: 0;
			grid-column: 2 / span 14;
		}
		@media (min-width: $lg) {
			grid-column: 2 / span 12;
		}
		@media (min-width: 1400px) {
			padding-top: 0;
		}
		p {
			font-size: 15px;
			line-height: 20px;
			letter-spacing: -0.24px;
			@media (min-width: $lg) {
				letter-spacing: 0;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

}

