.icon-posters {
	width: 15px;
	height: 17px;
}

.icon-lists {
	width: 17px;
	height: 17px;
}

.icon-menu {
	width: 18px;
	height: 18px;
}

.icon-heart {
	width: 20px;
	height: 17px;
}

.icon-heart_filled {
	width: 20px;
	height: 17px;
}

.icon-message {
	width: 18px;
	height: 18px;
}